<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
         <link rel="stylesheet" href="/css/styles.css" media="all">
        <meta charset="utf-8">
        <title>Play Rock Paper Scissors</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Play Rock Paper Scissors!</h1>
            </div>
            <p>Fill out the forms with player 1 and 2 inputs.</p>
            <form class="form-group" action="/results">
                <label for="player1">Player 1:</label>
                    <select class="form-control" name="player1" style="width:200px;">
                        <option>Rock</option>
                        <option>Paper</option>
                        <option>Scissors</option>
                    </select>
                    <br>
                <label for="player2">Player 2:</label>
                    <select class="form-control" name="player2" style="width:200px;">
                        <option>Rock</option>
                        <option>Paper</option>
                        <option>Scissors</option>
                    </select>
                    <br>
                <button type="submit" class="btn btn-danger" name="button">Submit</button>            </form>
        </div>
        <div class="container">
         <button type="button" class= "btn btn-info return-btn" name="button"><a href="/comp">Play Against the Computer</a></button>
        </div>
    </body>
</html>
