<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
         <link rel="stylesheet" href="/css/styles.css" media="all">
        <meta charset="utf-8">
        <title>Play Rock Paper Scissors</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Play Rock Paper Scissors against the computer!</h1>
            </div>
            <p>Fill out your choice!</p>
            <form class="form-group" action="/results_computer">
                <label for="player1">Player 1:</label>
                    <select class="form-control" name="player1" style="width:200px;">
                        <option>Rock</option>
                        <option>Paper</option>
                        <option>Scissors</option>
                    </select>
                    <br>
                <button type="submit" class="btn btn-danger" name="button">Submit</button>
            </form>
             <button type="button" class= "btn btn-info return-btn" name="button"><a href="/">Play a Friend</a></button>
        </div>
    </body>
</html>
