<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <meta charset="utf-8">
        <title>Winner Page</title>
    </head>
    <body>
        <h1>Winner:</h1>
         <h3>{{ results }}</h3>
         <br>
        <a href="/">Play Again!</a>

    </body>
</html>
