@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
    background-color: #2952AF;
    color: white;
}

h1  {
    text-align: center;
}

h3 {
    text-align: center;
}

img {
    margin-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30em;
}

.return-btn {
    float: left;
}

.return-btn {
    float:left;
}

.btn {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-danger {
    float: left;
}

.btn:hover {
    background-color: #2952AF;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.link {
    color:black;
}

.link:hover {
    color:black;
}
